/* ------------------  */
/*        CORE         */
/* ------------------  */

body {
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family:'Times New Roman', Times, serif; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-color: #2c2a2a;
    color:white;
}

.root {
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    position: relative;
    display: inline-block;
    white-space:pre;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(173, 216, 230, 0);
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    width:150px;
}

.training-cell button {
    
    line-height:130%;
}

.generator-cell button {
    
    line-height:130%;
}

#training, #forge, #skills, #exploration, #essence, #achievements, #tournament, #settings, #radiance {
    display: none;
    width:100%;
}

.main-window {
    position:relative;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
    max-height:1000px;
}

.content-tab {
    display: flex;
    flex-direction: column;
}

.content-tab-column-container {
    display:flex;
    flex-direction:row;
    padding:5px;
}

.content-tab-col {
    padding:20px;
    margin-top:60px;
    display:flex;
    flex-direction:column;
}

.feature-cell{
    display:flex;
    flex-direction:row;
    align-items:center;
    height:80px;
}
.feature-cell * {
    padding-left:5px;
    padding-right:5px;
}
.feature-cell button{
    width:250px;
}

.feature-current-value {
    width:120px;
}

.feature-name {
    width:200px;
}
/* ------------------  */
/*     END CORE        */
/* ------------------  */




/* ------------------ */
/* COLOR ASSIGNMENTS */
/* ------------------ */

:root {
    /* Mellow Yellow */
    --color-1: #F8DE7E;
    --force-color: #F8DE7E;
    /* Sky Blue */
    --color-2: #87CEEB;
    --wisdom-color: #87CEEB;
    /* Soft Coral */
    --color-3: #FA8072;
    --energy-color: #FA8072;
    /* Lavender */
    --color-4: #E6E6FA;
    --divine-color: #E6E6FA;
    /* Mint Green */
    --color-5: #98FB98;
    --crystal-color: #98FB98;
    /* Powder Pink */
    --color-6: #FFD1DC;
    /* Mauve */
    --color-7: #E0B0FF;
    /* Pastel Orange */
    --color-8: #FFB347;
    /* Cornflower */
    --color-9: #93CCEA;
    --artifact-color: #93CCEA;
    /* Pistachio */
    --color-10: #93C572;
    /* Shocking Pink */

    --color-11: #FF6EC7;
    --shocking-pink-color: #FF6EC7;
    /* Electric Green */
    --color-12: #00FF00;
    --electric-green-color: #00FF00;
    /* Neon Carrot */
    --color-13: #FFA343;
    --neon-carrot-color: #FFA343;
    /* Deep Sky Blue */
    --color-14: #00BFFF;
    --deep-sky-blue-color: #00BFFF;
    /* Orange Red */
    --color-15: #FF4500;
    --orange-red-color: #FF4500;
    /* Cyan */
    --color-16: #00FFFF;
    --cyan-color: #00FFFF;
    /* Gold */
    --color-17: #FFD700;
    --gold-color: #FFD700;
    /* Medium Purple */
    --color-18: #9370DB;
    --medium-purple-color: #9370DB;
    /* Lime */
    --color-19: #00FF00;
    --lime-color: #00FF00;
    /* Hot Pink */
    --color-20: #FF69B4;
    --hot-pink-color: #FF69B4;


    /* Fire Engine Red */
    --color-21: #CE2029;
    --fire-engine-red-color: #CE2029;
    /* Electric Lime */
    --color-22: #CCFF00;
    --electric-lime-color: #CCFF00;
    /* Fluorescent Blue */
    --color-23: #15F4EE;
    --fluorescent-blue-color: #15F4EE;
    /* Deep Pink */
    --color-24: #FF1493;
    --deep-pink-color: #FF1493;
    /* Electric Ultramarine */
    --color-25: #3F00FF;
    --electric-ultramarine-color: #3F00FF;
    /* Electric Purple */
    --color-26: #BF00FF;
    --electric-purple-color: #BF00FF;
    /* Lime Green */
    --color-27: #32CD32;
    --lime-green-color: #32CD32;
    /* Bright Turquoise */
    --color-28: #08E8DE;
    --bright-turquoise-color: #08E8DE;
    /* Bright Maroon */
    --color-29: #C32148;
    --bright-maroon-color: #C32148;
    /* Royal Blue */
    --color-30: #4169E1;
    --royal-blue-color: #4169E1;



    /* Turquoise Green */
    --color-31: #A0D6B4;
    --turquoise-green-color: #A0D6B4;
    /* Salmon */
    --color-32: #FA8072;
    --salmon-color: #FA8072;
    /* Steel Blue */
    --color-33: #4682B4;
    --steel-blue-color: #4682B4;
    /* Violet */
    --color-34: #7F00FF;
    --violet-color: #7F00FF;
    /* Olive Drab */
    --color-35: #6B8E23;
    --olive-drab-color: #6B8E23;
    /* Tomato */
    --color-36: #FF6347;
    --tomato-color: #FF6347;
    /* Aquamarine */
    --color-37: #7FFFD4;
    --aquamarine-color: #7FFFD4;
    /* Silver */
    --color-38: #C0C0C0;
    --silver-color: #C0C0C0;
    /* Indian Red */
    --color-39: #CD5C5C;
    --indian-red-color: #CD5C5C;
    /* Dark Turquoise */
    --color-40: #00CED1;
    --dark-turquoise-color: #00CED1;

    /* Teal */
    --color-41: #008080;
    --teal-color: #008080;
    /* Plum */
    --color-42: #DDA0DD;
    --plum-color: #DDA0DD;
    /* Coral */
    --color-43: #FF7F50;
    --coral-color: #FF7F50;
    /* Chocolate */
    --color-44: #D2691E;
    --chocolate-color: #D2691E;
    /* Dark Orchid */
    --color-45: #9932CC;
    --dark-orchid-color: #9932CC;
    /* Peach Puff */
    --color-46: #FFDAB9;
    --peach-puff-color: #FFDAB9;
    /* Thistle */
    --color-47: #D8BFD8;
    --thistle-color: #D8BFD8;
    /* Saddle Brown */
    --color-48: #8B4513;
    --saddle-brown-color: #8B4513;
    /* Dark Slate Blue */
    --color-49: #483D8B;
    --dark-slate-blue-color: #483D8B;
    /* Firebrick */
    --color-50: #B22222;
    --firebrick-color: #B22222;



}

.force-color,
.color-1{
    color: var(--color-1);
}
.force-color div,
.color-1 div{
    color: var(--color-1);
}
.force-color button,
.color-1 button{
    color: var(--color-1);
    border: 1.5px solid var(--color-1);
}

.wisdom-color,
.color-2{
    color: var(--color-2);
}
.wisdom-color div,
.color-2 div{
    color: var(--color-2);
}
.wisdom-color button,
.color-2 button {
    color: var(--color-2);
    border: 1.5px solid var(--color-2);
}

.energy-color,
.color-3{
    color: var(--color-3);
}
.energy-color div,
.color-3 div {
    color: var(--color-3);
}
.energy-color button,
.color-3 button {
    color: var(--color-3);
    border: 1.5px solid var(--color-3);
}

.divine-color,
.color-4{
    color: var(--color-4);
}
.divine-color div,
.color-4 div {
    color: var(--color-4);
}
.divine-color button,
.color-4 button {
    color: var(--color-4);
    border: 1.5px solid var(--color-4);
}

.crystal-color,
.color-5{
    color: var(--color-5);
}
.crystal-color div,
.color-5 div {
    color: var(--color-5);
}
.crystal-color button,
.color-5 button {
    color: var(--color-5);
    border: 1.5px solid var(--color-5);
}

.essence-color,
.color-6{
    color: var(--color-6);
}
.essence-color div,
.color-6 div {
    color: var(--color-6);
}
.essence-color button,
.color-6 button {
    color: var(--color-6);
    border: 1.5px solid var(--color-6);
}

.radiance-color,
.color-7{
    color: var(--color-7);
}
.radiance-color div,
.color-7 div {
    color: var(--color-7);
}
.radiance-color button,
.color-7 button {
    color: var(--color-7);
    border: 1.5px solid var(--color-7);
}


.skills-color,
.color-8{
    color: var(--color-8);
}
.skills-color div,
.color-8 div {
    color: var(--color-8);
}
.skills-color button,
.color-8 button {
    color: var(--color-8);
    border: 1.5px solid var(--color-8);
}
.skill-line{
    background-color: var(--color-8);
}

.artifacts-color,
.color-9{
    color: var(--color-9);
}
.artifacts-color div,
.color-9 div {
    color: var(--color-9);
}
.artifacts-color button,
.color-9 button {
    color: var(--color-9);
    border: 1.5px solid var(--color-9);
}

.tournament-color,
.color-10 {
    color: var(--color-10);
}
.tournament-color div,
.color-10 div {
    color: var(--color-10);
}
.tournament-color button,
.color-10 button {
    color: var(--color-10);
    border: 1.5px solid var(--color-10);
}
/* --------------------- */
/* END COLOR ASSIGNMENTS */
/* --------------------- */





/* ------------------  */
/*   STATUS UPDATES    */
/* ------------------  */

.forge-upgrade-cell .disabled div{
    color:lightgrey!important;
}

.unvisited-tab{
    border: 2px solid #c3e6fb;
	box-shadow: 0 0 10px #c3e6fb;
    background-color: rgba(0, 255, 255, 0.044)!important;
}

/* .skill-grid button:not(:disabled):hover{ */
    /* transition: box-shadow 0.3s ease-in-out;  */
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.592);
    filter: brightness(130%);
    transform: scale(1.05);
    transition: filter 0.3s ease-in-out; */
/* } */


#achievements-col1 .disabled {
    color:grey !important;
}

#essence-grid .disabled div {
    color:lightgrey!important;
}

.essence-cell{
    background-color:#75426e; 
}
.essence-cell:disabled:not(.complete){
    background-color:#353435;
}
.zone-cell .disabled {
    background-color:#353435!important;
}


.zone-cell .disabled-complete {
    background-color:#0fcb22!important;
}

/* .essence-cell:not(:disabled):hover { */
    /* background-color: rgb(127, 126, 126); */
    
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.592);
    transition: box-shadow 0.3s ease-in-out; */
/* } */

button:not(:disabled):hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.592);
    /* filter: brightness(100%); */
    transform: scale(1.05);
    /* transform: rotate(1deg); */
    transition: filter 0.3s ease-in-out;
}

.complete{
    background-color: #4e8649a3;
    font-weight:bold;
}

button.enabled:active {
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
	transform: scale(0.95);
}

button:disabled {
    color: #a2a2a2;
}

.cross-out {
    text-decoration: line-through;
}

.active-tab {
    background-color: #295f9d!important;
    color: white;
}

/* ------------------  */
/* END STATUS UPDATES  */
/* ------------------  */




/* ------------------  */
/*       TOOLTIPS      */
/* ------------------  */
.tooltip-text {
    visibility: hidden;
    background-color: #202128;
    border: 1px solid white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    min-width: 300px;
    white-space: pre-wrap!important;
    word-break: break-word!important;
    overflow-wrap: break-word!important;
    font-size: 14px;
    font-weight: 400;
    
    position: absolute;
    z-index: 1234234334;
    top: 100%;
    /* top: 5%; */
    left: 10%;
    
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.stats-container:hover .tooltip-text {
    visibility: visible!important;
    opacity: 1!important;
}

.tooltips-off .tooltip-text {
    display:none!important;
}

/* ------------------  */
/*    END TOOLTIPS     */
/* ------------------  */





/* ------------------  */
/*     TAB INFO      */
/* ------------------  */
.tab-info-container{
    text-align: left;
    /* position: relative; */
}

.info-icon{
    width: 20px;
    filter: invert(1) brightness(2);
    cursor: pointer;
    position:absolute;
    top:30px;
    left:100px;
}

.info-text-container{
    position: absolute;
    top:60px;
    left:15px;
    width: 300px;
    max-width:300px;
    background:black;
    z-index:100000;
    white-space:pre-wrap;
    padding:5px;
    border-radius:5px;
}

  
  .info-text-container.show {
    display: block;
  }

/* ------------------  */
/*    END TAB INFO     */
/* ------------------  */





/* ------------------------  */
/*      NOTIFICATION BOX     */
/* ------------------------  */

/* #notifyWindow{} */

.notify-window {
    position: absolute;
    color: white;
    top: 15px;
    right: 15px;
    max-width: 300px;
    white-space:pre-wrap;
    border: 1px solid white;
    padding: 5px;
    opacity: 0;
}

@keyframes fadein {
    0% {opacity: 0;} /* Invisible at the start */
    10% {opacity: 1;} /* Fully visible after 10% of the duration (0.6s) */
    90% {opacity: 1;} /* Still fully visible at 90% of the duration (5.4s) */
    100% {opacity: 0;} /* Fully invisible at the end */
}


/* --------------------------  */
/*    END NOTIFICATION BOX     */
/* --------------------------  */






/* ------------------  */
/*      CHECKBOX       */
/* ------------------  */
input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}
  
label {
    cursor: pointer;
    width: 40px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 7px;
    position: relative;
    text-align:right;
    padding-top:10px;
    margin-left:10px;
    margin-right:10px;
    color:white;
}
  
label span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
    user-select: none;
    pointer-events: none;
}
  
label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 4px;
    width: 10px;
    height: 25px;
    background: #fff;
    border-radius: 7px;
    transition: 0.1s;
    padding-top:10px;
    opacity:0.8;
}
  
input:checked + label {
    background: #34a934;
}
  
input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
  
label:active:after {
    width: 20px;
}

/* ------------------  */
/*    END CHECKBOX     */
/* ------------------  */



/* ------------------  */
/* OFFLINE GAINS MODAL */
/* ------------------  */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 10px;
    left: 40%;
    top: 30%;
    max-width: 40%;
    max-height: 60%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
  
  /* Modal Content */
  .modal-content {
    margin: auto;
    padding: 20px;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    top:-40px;
    /* color: #aaaaaa; */
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #c31c1c;
    text-decoration: none;
    cursor: pointer;
  }
  

#modal-message{
    color:white;
    white-space:pre-wrap;
}
/* ----------------------- */
/* END OFFLINE GAINS MODAL */
/* ----------------------- */





/* ------------------  */
/*  SETTINGS BUTTONS   */
/* ------------------  */

#multSettings, #save, #load, #reset, #rebirth1, #rebirth2, #rebirth3, #complete-unlocks{
    color:white;
}

#admin-title{
    margin-top:15px;
    text-align:left;
    font-weight:bold;
    width:100%;
}
.admin-container{
    margin-top:5px;
    display:flex;
    flex-wrap:wrap;
    max-width:800px;
    gap:10px;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;

}
.admin-button{
    color:white;
    white-space:inherit;
}
.admin-uber-button{
    border: 2px solid red;
}
.rebirth-button{
    margin-left:20px;
    color:white;
    width:100px;
    height:30px;
}

.mult-container#essenceMultContainer{
    position:relative;
    top:100px!important;
    left:30%;
    
}
.mult-container{
    position:relative;
    /* top:100px;
    left:30%; */

    right:30%;
    top:50px;
}

.mult-button{
    font-size: 14px;
    cursor: pointer;
    width:40px;
    height:30px;
    color:white;
    padding:0;
}

.selected-mult-button {
    background-color: #1168748a; /* Or any color you prefer */
    font-weight:bold;
}


#settings-container {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding: 10px 0 10px 0;
    grid-gap:5px;
    align-items:center;
}

#save {
    width:150px;
    transition: all 0.3s ease-in-out;
}

    #save.fade {
        opacity: 0.5;
    }


#load {
    width:150px;
    transition: all 0.3s ease-in-out;
}

    #load.fade {
        opacity: 0.5;
    }


#reset {
    width:150px;
    transition: all 0.3s ease-in-out;
}

    #reset.fade {
        opacity: 0.5;
    }


#rebirth1 {
    margin-left:20px;
    width: 100px;
    transition: all 0.3s ease-in-out;
}

    #rebirth1.fade {
        opacity: 0.5;
    }

#rebirth2 {
    width: 100px;
    transition: all 0.3s ease-in-out;
}

    #rebirth2.fade {
        opacity: 0.5;
    }

#rebirth3 {
    width: 100px;
    transition: all 0.3s ease-in-out;
}

    #rebirth3.fade {
        opacity: 0.5;
    }


#debug-button{
    background-color:white;
    top:10%;
    left:50px;
    position: absolute;

}
/* ----------------------  */
/*  END SETTINGS BUTTONS   */
/* ----------------------  */


/* ----------------------  */
/*    STATS ROW   */
/* ----------------------  */

#row-stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
}

.stats-column {
    display: flex;
    /* width:200px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 150px; */
    align-items:flex-start;
    margin-right:30px;
}

#row-stats div {
    padding: 2px;
    white-space: pre;
    /* text-align: center; */
    justify-content:flex-start;
}
.stat-name{
    width:100px;
    /* text-align:left; */
}
.stat-value{
    width:100px;
}
.stat-name, .stat-value {
    padding: 2px;
    white-space: nowrap;
    text-align: left;
}

.stats-container{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: flex-start;
    position:relative;
}


/* ----------------------  */
/*  END STATS ROW   */
/* ----------------------  */



/* ----------------------  */
/*  TAB BUTTONS  */
/* ----------------------  */

#tab-buttons {
    margin-top:5px;
    margin-bottom:5px;
    text-align:center;
    padding-bottom:20px;
}

.tabButton {
    background-color: rgba(128, 128, 128, 0);
    border-radius: 0px;
    border: 1px solid white;
    color: white;
    font-weight:bold;
    width:140px;
}

.tabButton:hover {
    background-color: orange;
}




.inactive-tab {
    opacity:0.5;
    color: rgba(255, 255, 255, 0.0)!important;
    height:20px;
    /* width:60px; */
    user-select: none;
}

/* ----------------------  */
/*  END TAB BUTTONS   */
/* ----------------------  */






/* ----------------------  */
/*  EXPLORATION TAB CSS  */
/* ----------------------  */


.exploration-tab-button {
    background-color:rgba(128, 128, 128, 0);
    color:white;
    font-weight:bold;
    border:1px solid white;
    border-radius:0px;
}

.exploration-tab-button:hover {
    background-color: orangered;
}



/* Odyssey Subtab CSS */

#mini-map-region-name {
    display: none;
    position: absolute;
     bottom: 530px;
    left: 158%;
    transform: translateX(-50%); 
    font-size: 12px;
    color: white;
    text-align: left;
    white-space: nowrap;
    /* margin-left:150%; */
}

.conquesting-tab {
    position: relative;
  }
  
  .conquesting-tab::after {
    content: '';
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #77ff00;
    box-shadow: 0 0 4px 2px rgba(0, 123, 255, 0.4);
  }
  

.nav-box {
    position: absolute;
    right: -50%;
    top: -10px;
    transform: translateX(100%);
    display: inline-block;
    padding: 3px 3px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 14px;
}

.mini-map-grid {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.mini-map-region {
    background-color: #59a582;
    border: 1px solid #000000;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left:150%;
    z-index: 1;
}

.mini-map-region:hover {
    background-color: #17ed17;
}

.mini-map-region.current {
    background-color: #2092d0; /* Highlight color for the current region */
}

.mini-map-region.inactive {
    background-color: #808080; /* Greyed-out color for inactive regions */
    opacity: 0.3; /* Opacity for inactive regions */
    cursor: default; /* Change cursor to default for inactive regions */
    pointer-events: none; /* Disable pointer events on inactive regions */
}



#odyssey-current-view{
    position:relative;
}

#odyssey-current-name{
    font-weight:bold;
    font-size:18px;
    justify-content:flex-start;
}

#odyssey-progress-bar-container,
#universe-progress-bar-container {
    position: absolute;
    color: white;
    width: 500px;
    height: 24px;
    border:1px solid rgba(255, 255, 255, 0.385);
    background-color: #00000000;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#odyssey-progress-bar-container {
    top: 80px;
    left: 40%;
}

#universe-progress-bar-container {
    top: 50px;
    left: 40%;
}

#odyssey-progress-bar,
#universe-progress-bar {
    height: 100%;
    background-color: #204d49;
    transition: width 0.5s ease;
}

.progress-text {
    position: absolute;
    width:80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

.worldNav-box{
    cursor: pointer;
    width:100px;
    height:40px;
    background-color:rgb(79, 208, 85);
    position:absolute;
    right:0;
    top:-20px;
    color:black;
    text-align:center;
}
.regionNav-box{
    cursor: pointer;
    width:100px;
    height:40px;
    background-color:rgb(38, 126, 114);
    position:absolute;
    /* right:0; */
    top:-20px;
    color:white;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
}
.tab-content-world{
    display:flex;
    flex-direction:row;
}

#artifact-progress{
    position:absolute;
    right:10%;
    height:100px;
    padding:20px;
    font-weight:bold;
    color: var(--color-9);
}
#world-progress-bar-container {
    color:white;
    width: 500px;
    height: 20px;
    border: 1px solid white;
    text-align: center;
    line-height: 20px; 
    white-space:pre;
}
.world-progress-bar {
    height: 100%;
    background-color: #009578;
}
#Odyssey-tab-buttons{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

#tab-col1-OdysseySubTab{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-end;
    flex-basis:30%;
    margin-top:90px;
}


#tab-col2-OdysseySubTab{
    margin-top:90px;
}

.world-cell{
    position:relative;
}
.world-tab-button{
    color:white;
    font-weight:bold;
}

.world-name{
    font-size:20px;
    font-weight: bold;
    margin-top:20px;
    margin-bottom:10px;
    border-bottom: 2px dashed white;
}

.region-name {
    font-size:18px;
    font-weight: bold;
    margin-top:10px;
    margin-bottom:8px;
    border-bottom: 1px dashed white;
}
.region-back-button{
    color:white;
    font-weight:bold;
    background-color:#008080;
    width:50px;
    height:30px;
}
.region-cell {
    width:100px;
    height:100px;
    position:absolute;border: 1px solid white;
    cursor: pointer;
}

.region-cell-title{
    font-weight:bold;
    font-size: 14px;
    padding:2px;
    
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

.region-cell-progress{
    font-weight:bold;
    font-size: 14px;
    padding:2px;
    position:absolute;
    bottom:5%;
    right:5%;
}

.realm-buttons-row {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.realm-button{
    background-color:rgba(128, 128, 128, 0);
    color:white;
    font-weight:bold;
    border:1px solid white;
    border-radius:0px;
}

.region-cell .minimap {
    transform: scale(0.2) translate(-200px, -200px)!important;
}

.region-cell {
    transition: all 0.5s ease;
}


.zones-container{
    top:50px;
    left:80px;
    display:flex;
    flex-direction:column;
    height:500px;
    width:500px;
    position:relative;
}
.zone-cell {
    position:absolute;
    /* margin-bottom:5px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zone-name {
    width:120px;
    white-space:pre;
}

.zone-button{
    width: 20px;
    height: 20px;
    padding:0px;
    border-radius:10px;
    white-space: pre-wrap!important;
    word-break: break-word!important;
    overflow-wrap: break-word!important;
    
    background-color: rgb(21, 97, 122);
    color: white;
    background-repeat: no-repeat;
    z-index:1;
}

.zone-line {
    position: absolute;
    height: 2px;
    background: rgba(255, 255, 255, 0.565);
    box-shadow: 0 0 0 1px rgba(135, 122, 135, 0.7);
    top: 50%;
    left: 50%;
    transform-origin: top left;
    z-index:0;
}



/* ZONE REPEATING PULSE */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 0, 255, 0.7);
    }
    50% {
        box-shadow: 0 0 0 10px rgba(255, 0, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0px rgba(255, 0, 255, 0);
    }
}

.pulse {
    animation: pulse 2s infinite;
}



/* Tournament Subtab CSS */
#tab-content-TournamentSubTab{
    flex-direction:column;
}
#tab-col1-TournamentSubTab{
    margin-top:60px!important;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    max-width:1600px;
    margin:auto;

}

#tournament-data{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    width:60%;
    margin: 50px 25px 25px 25px;
}

#tournament-headband{
    white-space: pre-wrap!important;
    word-break: break-word!important;
    overflow-wrap: break-word!important;
}

.fighter-tier-row{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.fighter-cell {
    margin-bottom:5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fight-button {
    background-color: rgba(173, 216, 230, 0);
    color: white;

    background-repeat: no-repeat;
    transition: background 10ms;
    width:200px;
}

.fighter-name {
    width:100px;
}

.fighter-reward{
    width:200px;
}

.fighter-power{
    width:200px;
}



#rectangle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.rectangle {
    width: 600px;
    height: 50px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    user-select: none;
    padding: 0 10px;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease-in-out; /* unified transitions */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); /* retained text shadow */
}


.rectangle.center:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.1)); /* Gradient effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); /* Deeper shadow for 3D effect */
    color: #fff; /* Change text color */
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7); /* Text glow */
}

.rectangle-name, .rectangle-cost, .rectangle-reward {
    flex: 1;
    text-align: left; /* default alignment */
}

.rectangle-cost {
    text-align: center;
}

.rectangle-reward {
    text-align: right;
}

.clickable {
    cursor: pointer;
    background-color: #e0e0e0;
}

.rectangle.empty {
    background-color: transparent;
    border: none;
}

.rectangle.adjacent,
.rectangle.first-last {
    transition: transform 0.3s ease-in-out;
}

.rectangle.adjacent {
    transform: scale(0.9);
}

.rectangle.first-last {
    transform: scale(0.8);
}

.rectangle.center::before,
.rectangle.center::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 2px;
    background-color: #ff0000;
}

.rectangle.center::before {
    left: -30px;
}

.rectangle.center::after {
    right: -30px;
}


/* Artifact SubTab CSS */
.shard-name{
    width:200px;
    padding-bottom:10px;
}
.shard-cell {
    display:flex;
    flex-direction:row;
}
.overall-multiplier-cell{
    padding-bottom:20px;
    font-weight:1000;
}
#tab-content-ArtifactsSubTab{
    justify-content:center;
}
.gear-type{
    width:150px;
}
.artifact-evolve-message{
    position:absolute;
}
/* Artifact Evolve Animation */
.fadeout {
    animation: fadeout 1s linear forwards;
  }
  
  @keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
  }

/* 
.artifact-cell {
}
    .artifact-cell * {
    }
.artifact-cell-button {
}
.artifact-name {
}
.artifact-button {
} */
/* ----------------------  */
/*  END EXPLORATION TAB CSS  */
/* ----------------------  */





/* ----------------------  */
/*  TRAINING REALMS TAB CSS  */
/* ----------------------  */

.realm-button:hover {
    background-color: orangered;
}

.realm-content {
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-top:30px;
    flex-wrap:wrap;
}

.realm-header{
    position:absolute;
    /* margin-top: 20px; */
    /* bottom:20%; */
    left:55%;
    justify-content:center;
    /* top:50px; */
    /* left:25%; */
    /* right:55%; */
    min-width:500px;
    font-weight:bold;
    /* white-space:pre; */
}

.realm-power-contrib {
    margin-top: 20px;
}

.realm-name {
    /* margin-top: 20px; */
    position:absolute;
    font-size: 20px;
    font-weight: bold;
    left:35%;
}
.milestone-affordable{
    /* background-color:white; */
    
    border: 2px solid #c3e6fb;
	box-shadow: 0 0 10px #c3e6fb;
    /* background-color: rgba(0, 255, 255, 0.044)!important; */
    /* box-shadow: 0 2px 5px rgba(177, 219, 13, 0.15); */
}

.auto-indicator{
    position:absolute;
    top:0px;
    right:0px;
    background-color:rgba(255, 0, 255, 0.7);
    color:white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 10px;
}

.progress-bar {
    width: 50%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 5px;
    padding:0px;
  }
  
  .progress-fill {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.3s ease;
  }
  
  .milestone-tier-level {
    font-size: 12px;
    margin-top: 5px;
  }

  @keyframes flash {
    0%, 100% { background-color: #4caf50; }
    50% { background-color: #ffffff; }
}

.flash-effect {
    animation: flash 0.5s ease-out 3;
}

.flash-text {
    position: relative;
    top: -15px;
    right:50px;
    font-weight: bold;
    z-index: 1;
    display: none; 
    pointer-events: none;
}

@keyframes text-flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.flash-effect-text {
    display: block!important;
    animation: text-flash 0.5s ease-out 3;
}


/* EVOLUTION TUTORIAL MODAL */
/* Modal Backdrop */
#modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal Container */
.modal-container {
    background: rgb(28, 70, 115);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 300px;
    max-width:600px;
}

/* Modal Title */
.modal-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Modal Message */
.modal-message {
    margin-bottom: 20px;
}

/* Close Button */
.modal-close-button {
    padding: 10px 20px;
    border: none;
    background-color: #0d3015;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}



/* ----------------------  */
/*  END TRAINING REALMS TAB CSS  */
/* ----------------------  */






/* ----------------------  */
/*  FORGE UPGRADES CSS  */
/* ----------------------  */
#forge-upgrades-columns{
    /* width:1100px; */
    flex-wrap:wrap;
    justify-content:center;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width:1600px;
    margin:auto;
}

/* #forge  {
    align-items:center;
} */

.forge-upgrade-cell {
    display:flex;
    flex-direction:row;
    align-items:center;
}


.forge-upgrade-cell button div {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);

}

/* .forge-upgrade-cell * {
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
} */

.forge-upgrade-col{
    margin-top:20px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:400px;
    text-align: 'center';
    font-size: 18;
    font-weight: 800;
    padding-bottom: '15px';
}
.forge-upgrade-button{
    width: 80px;
    height: 80px;
    white-space:pre-line;
    overflow-wrap: break-word;
    padding:2px;
}

/* ----------------------  */
/*  END FORGE UPGRADES CSS  */
/* ----------------------  */




/* ----------------------  */
/*  RADIANCE TAB CSS  */
/* ----------------------  */


#radiance-columns{
    display:flex;
    justify-content:center;
}

.crystal-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
  }
  
  .crystal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .base-crystal-container {
    margin-right: 50px;
  }
  
  .upgrade-crystal-container {
    margin-left: 50px;
  }
  
  .speed-indicator {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }
  
  .crystal {
    width: 120px;
    height: 120px;
    position: relative;
    transform-style: preserve-3d;
    transition: background-color 0.5s ease;
  }
  
  .base-crystal {
    animation: rotate 5s infinite linear;
  }
  
  .upgrade-crystal {
    animation: rotate 5s infinite linear;
  }
  
  .crystal .facet {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    opacity: 0.8;
    transform-origin: center center;
    transition: background-color 0.5s ease;
  }
  
  .crystal .facet:nth-child(1) {
    transform: rotateX(45deg) rotateY(45deg) translateZ(50px);
  }
  
  .crystal .facet:nth-child(2) {
    transform: rotateX(45deg) rotateY(-45deg) translateZ(50px);
  }
  
  .crystal .facet:nth-child(3) {
    transform: rotateX(-45deg) rotateY(45deg) translateZ(50px);
  }
  
  .crystal .facet:nth-child(4) {
    transform: rotateX(-45deg) rotateY(-45deg) translateZ(50px);
  }
  
  .crystal .facet:nth-child(5) {
    transform: rotateX(90deg) translateZ(50px);
  }
  
  .crystal .facet:nth-child(6) {
    transform: rotateX(-90deg) translateZ(50px);
  }
  
  @keyframes rotate {
    0% {
      transform: rotateX(0) rotateY(0);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }

/* ----------------------  */
/*  END RADIANCE UPGRADES CSS  */
/* ----------------------  */






/* ----------------------  */
/*  ACHIEVEMENTS TAB CSS  */
/* ----------------------  */
/* #achievements-col1{
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap:wrap;
    justify-content:center;
} */

#achievements-col1 {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    max-width:1200px;
    margin:auto;
}

.achievement-cell {
    white-space:pre-line;
    width: 80px;
    height: 80px;
    margin: 5px;
    box-sizing: border-box;
    flex: 1 0 12.5%;
    max-width:80px;
    padding:2px;
    
    white-space: pre-wrap!important;
    word-break: break-word!important;
    overflow-wrap: break-word!important;
}
    .achievement-cell * {
        padding-left: 5px;
        padding-right: 5px;
    }

.swirling {
    animation: swirlFill 0.25s forwards;
}


@keyframes swirlFill {
    0%, 100% {
        background-image: radial-gradient(circle at center, white, white 0%, transparent 0%, transparent);
        transform: scale(1);
    }
    10% {
        background-image: radial-gradient(circle at center, #e0e0e0, white 10%, transparent 10%, transparent);
        transform: scale(1.02);
    }
    20% {
        background-image: radial-gradient(circle at center, #c0c0c0, white 20%, transparent 20%, transparent);
        transform: scale(1.04);
    }
    30% {
        background-image: radial-gradient(circle at center, #a0a0a0, white 30%, transparent 30%, transparent);
        transform: scale(1.02);
    }
    40% {
        background-image: radial-gradient(circle at center, #808080, white 40%, transparent 40%, transparent);
        transform: scale(1.01);
    }
    50% {
        background-image: radial-gradient(circle at center, #606060, white 50%, transparent 50%, transparent);
    }
    60% {
        background-image: radial-gradient(circle at center, #404040, white 60%, transparent 60%, transparent);
        transform: scale(1.01);
    }
    70% {
        background-image: radial-gradient(circle at center, #202020, white 70%, transparent 70%, transparent);
        transform: scale(1.02);
    }
    80% {
        background-image: radial-gradient(circle at center, #000000, white 80%, transparent 80%, transparent);
        transform: scale(1.04);
    }
    90% {
        background-image: radial-gradient(circle at center, #202020, white 90%, transparent 90%, transparent);
        transform: scale(1.02);
    }
} 


/* @keyframes swirlFill {
    0% {
        background-image: radial-gradient(circle at center, white, white 0%, transparent 0%, transparent);
    }
    10% {
        background-image: radial-gradient(circle at center, white, white 10%, transparent 10%, transparent);
    }
    20% {
        background-image: radial-gradient(circle at center, white, white 20%, transparent 20%, transparent);
    }
    30% {
        background-image: radial-gradient(circle at center, white, white 30%, transparent 30%, transparent);
    }
    40% {
        background-image: radial-gradient(circle at center, white, white 40%, transparent 40%, transparent);
    }
    50% {
        background-image: radial-gradient(circle at center, white, white 50%, transparent 50%, transparent);
    }
    60% {
        background-image: radial-gradient(circle at center, white, white 60%, transparent 60%, transparent);
    }
    70% {
        background-image: radial-gradient(circle at center, white, white 70%, transparent 70%, transparent);
    }
    80% {
        background-image: radial-gradient(circle at center, white, white 80%, transparent 80%, transparent);
    }
    90% {
        background-image: radial-gradient(circle at center, white, white 90%, transparent 90%, transparent);
    }
    100% {
        background-image: radial-gradient(circle at center, white, white 100%, transparent 100%, transparent);
    }
} */
    
/* ----------------------  */
/*  END ACHIEVEMENTS TAB CSS  */
/* ----------------------  */






/* ----------------------  */
/*  ESSENCE UPGRADES TAB CSS  */
/* ----------------------  */
#essence-columns {
    margin-top: 0px!important;
    margin-left:10%;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction:row;
}
.content-tab-col#essence-col1{
    margin-top:0px;
}
.content-tab-col#essence-col2{
    margin-top:0px;
}

#essence-grid{
    display:flex;
    flex-direction:row;
}

.essence-stats{
    margin-bottom:10px;
    /* white-space:pre; */
    word-wrap: wrap;
    /* text-align:left; */
    /* display:flex; */
    /* justify-content:flex-start; */
    /* align-content:flex-start; */
    /* align-items:flex-start; */
    max-width:300px;
}
.essence-cell {
    display: flex;
    flex-direction:column;
    justify-content: center;
    grid-gap:10px;
    align-items: center;
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    
    white-space: pre-wrap!important;
    word-break: break-word!important;
    overflow-wrap: break-word!important;
    padding:0px!important;
    margin:0px!important;
}

/* .essence-cell * { */
    /* padding-left: 5px; */
    /* padding-right: 5px; */
/* } */


.essence-line:hover{
    opacity: 0.0!important;
}

.essence-line {
    display:none;
    position: absolute;
    height: 1px;
    background: white;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    z-index:-1;
}

/* ----------------------  */
/* END ESSENCE UPGRADES TAB CSS  */
/* ----------------------  */






/* ----------------------  */
/* SKILL TAB CSS  */
/* ----------------------  */
#skill-data{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-bottom:30px;
}

.skill-first-letter {
    font-size: 18px;
    font-weight: bold;
  }

#skills-columns{
    display:flex;
    justify-content:center;
}
.skill-complete{
    /* background-color:var(--color-8)!important; */
    color:white!important;
    font-weight:bold;
}

#refund-skills-button{
    margin-left:30px;
    width:100px;
}

.skill-grid {
    position: relative;
}

.skill-node {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space:pre;
    user-select:none;
    border-radius: 20px;
}


.skill-node .disabled{
    background-color:#0d301500!important;
}
/* .skill-node.mastery-skill {
    border-radius: 0px;

} */
.skill-node.mastery-skill {
    border-radius: 0px; 
    /* background-color:white; */
    /* border-radius: 50%; */
    /* clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); */
    /* background-color: transparent; */
    box-shadow: 0 0 0 1px white; 

}

.skill-line {
    position: absolute;
    z-index: 3;
  }
  
  .skill-line.north {
    top: -13px;
    left: calc(50% - 1px);
    width: 2px;
    height: 14px;
  }
  
  .skill-line.south {
    bottom: -13px;
    left: calc(50% - 1px);
    width: 2px;
    height: 14px;
  }
  
  .skill-line.east {
    right: -13px;
    top: calc(50% - 1px);
    width: 14px;
    height: 2px;
  }
  
  .skill-line.west {
    left: -13px;
    top: calc(50% - 1px);
    width: 14px;
    height: 2px;
  }

/* ----------------------  */
/* END SKILL TAB CSS  */
/* ----------------------  */







/* ----------------------  */
/*     SETTINGS TAB CSS     */
/* ----------------------  */
#settings {
    grid-gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#number-settings-container{
    display:flex;
    flex-direction:row;
    margin-bottom: 20px;
    margin-top:40px;
}
#number-settings-title{
    padding-right:10px;
    height:30px;
    display:flex;
    align-items:center;
}
#numberSettings {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#numberSettings option {
    font-size: 16px;
    color: #333;
    padding: 5px;
}


#tooltips-settings-container{
    display:flex;
    flex-direction:row;
    align-items:center;
}

#notifications-settings-container{
    display:flex;
    flex-direction:row;
    align-items:center;
}

#hotkeys-settings-container{
    display:flex;
    flex-direction:row;
    align-items:center;
}

#settings-tab-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    grid-gap:30px;
}

#settings-hotkeys {
    display: flex;
    align-items: left;
    flex-direction:column;
    justify-content: center;
    white-space: pre;
    text-align: left;
    grid-gap:10px;
    margin-top:20px;
}

#settings-stats {
    display:flex;
    flex-direction:column;
    justify-content: center;
    white-space: pre;
    text-align: left;
    line-height: 12px;
}

#dailyRewardButton, #hourlyRewardButton,
#dailyRewardTimer, #hourlyRewardTimer,
#dailyRewardTitle, #hourlyRewardTitle {
    padding:5px;
    width:150px;
}


#dailyRewardContainer, #hourlyRewardContainer {
    grid-gap: 20px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    padding:10px;
}

#settings-state-buttons{
    display:flex;
    justify-content:flex-start;
}
.state-button{
    color:white;
    max-width:100px;
}
/* ----------------------  */
/* END SETTINGS TAB CSS  */
/* ----------------------  */








/* ----------------------  */
/* BUTTON MILESTONE TICKS  */
/* ----------------------  */

.tick-button {
    position: relative; 
    padding: 10px 20px;
    margin: 20px;
    border: 1px solid black;
}

.tick-button[data-ticks="1"] {
    background: linear-gradient(90deg, transparent 0%, rgba(209, 17, 177, 0.272) 10%, transparent 10.5%, transparent 100%);
}

.tick-button[data-ticks="2"] {
    background: linear-gradient(90deg, transparent 0%, rgba(209, 17, 177, 0.272) 10%, transparent 10.5%, rgba(209, 17, 177, 0.272) 20%, transparent 20.5%, transparent 100%);
}

.tick-button[data-ticks="3"] {
    background: linear-gradient(90deg, transparent 0%, rgba(209, 17, 177, 0.272) 10%, transparent 10.5%, rgba(209, 17, 177, 0.272) 20%, transparent 20.5%, rgba(209, 17, 177, 0.272) 30%, transparent 30.5%, transparent 100%);
}

.tick-button[data-ticks="4"] {
    background: linear-gradient(90deg, transparent 0%, rgba(209, 17, 177, 0.272) 10%, transparent 10.5%, rgba(209, 17, 177, 0.272) 20%, transparent 20.5%, rgba(209, 17, 177, 0.272) 30%, transparent 30.5%, rgba(209, 17, 177, 0.272) 40%, transparent 40.5%, transparent 100%);
}

.tick-button[data-ticks="5"] {
    background: linear-gradient(90deg, transparent 0%, rgba(209, 17, 177, 0.272) 10%, transparent 10.5%, rgba(209, 17, 177, 0.272) 20%, transparent 20.5%, rgba(209, 17, 177, 0.272) 30%, transparent 30.5%, rgba(209, 17, 177, 0.272) 40%, transparent 40.5%, rgba(209, 17, 177, 0.272) 50%, transparent 50.5%, transparent 100%);
}

.tick-button[data-ticks="6"] {
    background: linear-gradient(90deg, transparent 0%, rgba(209, 17, 177, 0.272) 10%, transparent 10.5%, rgba(209, 17, 177, 0.272) 20%, transparent 20.5%, rgba(209, 17, 177, 0.272) 30%, transparent 30.5%, rgba(209, 17, 177, 0.272) 40%, transparent 40.5%, rgba(209, 17, 177, 0.272) 50%, transparent 50.5%, rgba(209, 17, 177, 0.272) 60%, transparent 60.5%, transparent 100%);
}

.tick-button[data-ticks="7"] {
    background: linear-gradient(90deg, transparent 0%, rgba(209, 17, 177, 0.272) 10%, transparent 10.5%, rgba(209, 17, 177, 0.272) 20%, transparent 20.5%, rgba(209, 17, 177, 0.272) 30%, transparent 30.5%, rgba(209, 17, 177, 0.272) 40%, transparent 40.5%, rgba(209, 17, 177, 0.272) 50%, transparent 50.5%, rgba(209, 17, 177, 0.272) 60%, transparent 60.5%, rgba(209, 17, 177, 0.272) 70%, transparent 70.5%, transparent 100%);
}

.tick-button[data-ticks="8"] {
    background: linear-gradient(90deg, transparent 0%, rgba(209, 17, 177, 0.272) 10%, transparent 10.5%, rgba(209, 17, 177, 0.272) 20%, transparent 20.5%, rgba(209, 17, 177, 0.272) 30%, transparent 30.5%, rgba(209, 17, 177, 0.272) 40%, transparent 40.5%, rgba(209, 17, 177, 0.272) 50%, transparent 50.5%, rgba(209, 17, 177, 0.272) 60%, transparent 60.5%, rgba(209, 17, 177, 0.272) 70%, transparent 70.5%, rgba(209, 17, 177, 0.272) 80%, transparent 80.5%, transparent 100%);
}

.tick-button[data-ticks="9"] {
    background: linear-gradient(90deg, transparent 0%, rgba(209, 17, 177, 0.272) 10%, transparent 10.5%, rgba(209, 17, 177, 0.272) 20%, transparent 20.5%, rgba(209, 17, 177, 0.272) 30%, transparent 30.5%, rgba(209, 17, 177, 0.272) 40%, transparent 40.5%, rgba(209, 17, 177, 0.272) 50%, transparent 50.5%, rgba(209, 17, 177, 0.272) 60%, transparent 60.5%, rgba(209, 17, 177, 0.272) 70%, transparent 70.5%, rgba(209, 17, 177, 0.272) 80%, transparent 80.5%, rgba(209, 17, 177, 0.272) 90%, transparent 90.5%, transparent 100%);
}

.tick-button[data-ticks="10"] {
    background: linear-gradient(90deg, rgba(209, 17, 177, 0.272) 0%, rgba(209, 17, 177, 0.272) 100%);
}

/* ----------------------  */
/* END BUTTON MILESTONE TICKS  */
/* ----------------------  */



@keyframes retro-pulsate {
    0% {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.3);
    }
    50% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
    }
    100% {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.3);
    }
  }
  
  .glow {
    animation: retro-pulsate 1.2s ease-in-out infinite;
  }

/*# sourceMappingURL=/style.e308ff8e.css.map */